/* Global Rules Start */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* adding the container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  /* we will add the width with the media */
  margin-left: auto;
  margin-right: auto;
}

/* small screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.special-heading {
  font-size: 100px;
  font-weight: 800;
  color: #ebeced;
  text-align: center;
  letter-spacing: -3px;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
}
.special-heading + p {
  font-size: 20px;
  color: #797979;
  margin-top: -40px;
  padding: 0;
  text-align: center;
}
@media (max-width: 767px) {
  .special-heading + p {
    font-size: 15px;
    margin-top: -20px;
  }
}
/* End global Rules */
/* start of the global variables*/
:root {
  --main-color: #398802;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --icon-size: 3em;
}
/* End of the global variables*/
/* start of the header */
.header {
  padding: 20px;
  height: 64px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  cursor: pointer;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon span:last-child {
  width: 100%;
}

.header .container .links ul li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 15px;
  transition: 0.3s;
}
.header .container .links ul {
  position: absolute;
  background-color: #eee;
  top: calc(100% + 15px);
  right: 0%;
  padding: 0;
  margin: 0;
  min-width: 200px;
  list-style: none;
  display: none;
  z-index: 1;
  border-radius: 8px;
  box-shadow: 2px 3px 5px #333;
}
.header .container .links ul::before {
  content: "";
  position: absolute;
  border-color: transparent transparent #eee transparent;
  border-width: 10px;
  height: 0px;
  width: 0px;
  border-style: solid;
  bottom: 100%;
  right: 5px;
}
.header .container .links ul li:not(:last-child) a {
  border-bottom: 1px solid #333;
}
.header .container .links ul li a:hover {
  padding-left: 25px;
}
.header .links {
  position: relative;
}
.header .container .links:hover ul {
  display: block;
}
/* End the Header */
/* start of the landing page */
.landing {
  background-image: url(../images/wood-2142310_1920.jpg);
  background-size: cover;
  max-width: 100vw;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  text-align: center;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-size: 50px;
  color: var(--main-color);
  font-weight: bold;
}
.intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* end of the landing page */
/* start the section page */
.features {
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 20px;
}
.features .feet {
  padding: 20px;
  text-align: center;
}
.features .feet i {
  color: var(--main-color);
  font-size: var(--icon-size);
}
.features .feet h3 {
  font-size: 20px;
  font-weight: 800;
  margin: 30px 0;
}
.features .feet p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* end the section page */
/* start of the features page */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .feature-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-template-rows: auto auto;
  grid-template-areas:
    "box-1 box-2 box-5"
    "box-3 box-4 box-5";
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
  column-gap: 80px;
  row-gap: 50px;
}
.services .feature-boxes :nth-child(1) {
  grid-area: box-1;
}
.services .feature-boxes :nth-child(2) {
  grid-area: box-2;
}
.services .feature-boxes :nth-child(3) {
  grid-area: box-3;
}
.services .feature-boxes :nth-child(4) {
  grid-area: box-4;
}
.services .feature-boxes :nth-child(5) {
  grid-area: box-5;
}
.services .feature-boxes .box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(30, 1fr));
  column-gap: 10px;
  grid-template-areas:
    "box-icon box-h3 "
    ". box-text";
  column-gap: 40px;
}
.services .feature-boxes .box i {
  color: var(--main-color);
  font-size: 2em;
  grid-area: box-icon;
  justify-self: center;
}
.services .feature-boxes .box h3 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
  grid-area: box-h3;
}
.services .feature-boxes .box div {
  color: #444;
  font-weight: 300;
  line-height: 2;
  grid-area: box-text;
}
.img-box {
  position: relative;
  background-image: url(../images/services-section.jpg);
  height: 360px;
  width: 260px;
  background-size: cover;
}
.img-box::after {
  content: "";
  position: absolute;
  top: -10%;
  right: -50px;
  width: 100px;
  height: 120%;
  background-color: #905f25;
  z-index: -1;
}

@media (max-width: 1200px) {
  .img-box {
    display: none;
  }
}
@media (max-width: 767px) {
  .services .feature-boxes {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "box-1"
      "box-3"
      "box-2"
      "box-4";
    row-gap: 50px;
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
  }
  .services .feature-boxes .box {
    grid-template-rows: repeat(auto-fit, minmax(30, 1fr));
    column-gap: 10px;
    grid-template-areas:
      "box-icon"
      "box-h3 "
      "box-text";
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .services .feature-boxes .box h3 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
  }
}
/* End of the features page */

/* start of the portfolio part */
.portfolio {
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .boxes {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  justify-content: center;
}
.portfolio .boxes .box {
  display: flex;
  background-color: white;
  flex-direction: column;
  margin-bottom: 20px;
  width: 350px;
  margin-right: 30px;
}
.portfolio .box .image-box {
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: 210px;
}
.portfolio .box .head {
  margin: 0;
  padding: 20px;
}
.portfolio .box .text {
  margin-bottom: 0;
  padding: 20px;
  color: #777;
  line-height: 1.8;
  padding-top: 0;
}
/* End of the portfolio part */
/* start of the about part */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-cols {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  justify-content: space-between;
}
.about .about-cols .image-box-about .image-box-fix-about img {
  width: 300px;
}
.about .about-cols .image-box-about .image-box-fix-about {
  position: relative;
  height: 435.05px;
}
.about .about-cols .image-box-about .image-box-fix-about::before {
  content: "";
  top: -50px;
  left: -50px;
  width: 100px;
  height: calc(100% + 100px);
  background-color: #ebeced;
  position: absolute;
  z-index: -1;
}
.about .about-cols .image-box-about .image-box-fix-about::after {
  content: "";
  top: -50px;
  right: -160px;
  width: 120px;
  height: calc(100% - 100px);
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  position: absolute;
  z-index: -1;
}
@media (max-width: 1200px) {
  .about .about-cols .image-box-about .image-box-fix-about::after,
  .about .about-cols .image-box-about .image-box-fix-about::before {
    display: none;
  }
  .about .about-cols {
    justify-content: center;
  }
  .about .about-cols .boxes-about p {
    text-align: center;
    align-self: center;
  }
  .about .about-cols .boxes-about hr {
    margin-left: 25%;
  }
}
.about .about-cols .boxes-about p {
  color: #777;
  line-height: 2;
  padding: 20px;
  margin-top: 16px;
  max-width: 500px;
}
.about .about-cols .boxes-about :first-child {
  font-weight: 800;
  margin-bottom: 50px;
}
.about .about-cols .boxes-about hr {
  width: 50%;
  background-color: var(--main-color);
  display: inline-block;
  border: 0;
  border-top: 1px solid var(--main-color);
  margin-left: 20px;
}
@media (max-width: 991px) {
  .about .about-cols .boxes-about hr {
    margin-left: 25%;
  }
}
/* Start of the contact section */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info {
  padding-top: 40px;
  padding-bottom: 30px;
}
.contact .info .contact-head {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: #2c4755;
  margin-bottom: 20px;
}
.contact .info .email-contact {
  text-align: center;
}
.contact .info .email-contact a {
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .social {
  text-align: center;
}
.contact .social .social-text-contact {
  font-size: 20px;
  display: inline-block;
}
.contact .social i {
  margin-left: 10px;
  font-size: 20px;
  color: #2c4755;
}
@media (max-width: 767px) {
  .contact .info .contact-head {
    font-size: 25px;
  }
  .contact .info .email-contact a {
    font-size: 20px;
  }
  .contact .social .social-text-contact {
    font-size: 15px;
  }
  .contact .social i {
    font-size: 15px;
  }
}
/* End of the contact section */
/* Start of the footer */
.footer {
  height: 80px;
  background-color: #2c4755;
}
.footer .footer-all {
  text-align: center;
  font-size: 25px;
  color: white;
  padding-top: 30px;
}
.footer .footer-all span {
  font-weight: bold;
  color: var(--main-color);
}
@media (max-width: 767px) {
  .footer .footer-all {
    font-size: 20px;
    color: white;
    padding-top: 30px;
  }
}
/* End of the footer */
